@model MVCProject.Models.FeedBack

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FeedBack</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @* @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.Name, new List<SelectListItem>() {
                         new SelectListItem(){ Text="Access to doctors and other medical professional",Value="Access to doctors and other medical professional"},
                          new SelectListItem(){ Text="Transparency and communication between care provider and patient",Value="Transparency and communication between care provider and patient"},
                           new SelectListItem(){ Text="Interpersonal skills displayed by medical professionals",Value="Interpersonal skills displayed by medical professionals"},
                           new SelectListItem(){ Text="Accessibility of care",Value="Accessibility of care"},
                           new SelectListItem(){ Text="Quality of medical care",Value="Quality of medical care"},
                            new SelectListItem(){ Text=" Did you have any issues arranging an appointment?",Value=" Did you have any issues arranging an appointment?"},
                             new SelectListItem(){ Text="Are you currently covered under a health insurance plan?",Value="Are you currently covered under a health insurance plan?"},



                       }, "Please Select", new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.answer, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generate" class="btn btn-success" />
            </div>
        </div>
    </div>
}

