@model IEnumerable<MVCProject.Models.DoctorUpdate>


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Doctor Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorAndSpecialist.Specialists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalAdmin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_Time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorAndSpecialist.Specialists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalAdmin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Time)
            </td>
            <td>
                 @Html.ActionLink("Edit", "Edit1", new { id = item.Up_Id },new { @class = "btn btn-info" }) |
                 @Html.ActionLink("Delete", "Delete1", new { id = item.Up_Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>


@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}

